.header {
  background-color: #222;
  height: 36px;
  padding: 8px 32px 8px 16px;
  display: flex;
  justify-content: space-between;
}

.logo {
  background-color: #FF7F7F;
  height: 35px;
  animation: rotation 4s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(359deg);
  }
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons Button {
  margin: 0px 4px;
}